body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 20px;
  margin: 0 auto;
}

.form {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
}

/* .form-field {
  margin-bottom: 20px;
} */

.button, .reset-btn {
  max-width: 150px;
  padding: 10px 14px;
  background-color: teal;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
  color: FloralWhite;
  margin-top: 20px;
}

.posts {
  list-style: none;
}

.blog {
  margin-bottom: 40px;
}

.post-item {
  position: relative;
  max-width: 600px;
  padding: 10px;
  border: 2px solid teal;
  border-radius: 10px;
  margin-bottom: 20px;
}

.likes {
  padding-left: 20px;
}

.show {
  display: inline;
}

.hide {
  display: none;
}

.hide-btn {
  display: block;
  margin-top: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('./images/icons8-стрелка-67\ \(1\).png');
  background-size: contain;
  background-color: white;
}

.show-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('./images/icons8-стрелка-67.png');
  background-size: contain;
  background-color: white;
}

.title-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 20px 40px;
}

.main-title {
  font-size: 36px;
  color: teal;
  padding-top: 10px;
}

.flex-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.input {
  display: block;
  margin-bottom: 20px;
}

.reset-btn {
  margin-left: 20px;
}

.delete-btn {
  position: absolute;
  right: 20px;
  bottom: 20px
}

.header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  background: teal;
  padding: 20px;
  margin: 0;
}

.link {
  text-decoration: none;
  font-size: 22px;
  color: azure;
  font-weight: 500;
  margin: 15px;
}

.link:hover {
  color: tomato;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: teal;
}

.label {
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
}

.inp {
  padding: 10px 14px;
  margin-bottom: 10px;
  max-width: 500px;
}

.error-text {
  font-weight: 500;
  margin-bottom: 10px;
  color: tomato;
}

.input-error {
  border-color: tomato;
}

.error {
  color: tomato;
  font-size: 1rem;
  margin-top: 0.3rem;
}

.disabled-btn {
  cursor: not-allowed;
  background: rgba(#1d3557, 0.8);
}

.signin {
  margin-top: 30px;
}

.login-link {
  color: black;
}

.login-link:hover {
  color: tomato
}

.header-title {
  font-size: 60px;
  font-weight: 500;
  color: azure;
  margin-left: 15px;
}

/* Pagination */

.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin-left: 40px;
}

.page-link {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.page-item {
  background-color: teal;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.active {
  background-color: white;
  border: 2px solid teal;
}

.active-link {
  color: teal;
}

.previous-link, .next-link {
  padding: 8px;
  font-weight: 500;
  text-align: center;
}

/* Pagination end*/

.statistics {
  margin: 40px;
}

.statistics-title {
  
}

.statistics-text {
  font-size: 28px;
}

.warning {
  font-size: 28px;
  
  margin-left: 40px;
}