

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  padding: 20px;
  margin: 0 auto;
}

.form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 20px;
}

.button {
  max-width: 100px;
  padding: 10px 14px;
}

.posts {
  list-style: none;
}

.post-item {
  position: relative;
  max-width: 600px;
  padding: 10px;
  border: 2px solid teal;
  border-radius: 10px;
  margin-bottom: 20px;
}

.likes {
  padding-left: 20px;
}

.show {
  display: block;
}

.hide {
  display: none;
}

.hide-btn {
  display: block;
  margin-top: 10px;
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('./images/icons8-стрелка-67\ \(1\).png');
  background-size: contain;
}

.show-btn {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url('./images/icons8-стрелка-67.png');
  background-size: contain;
}

.flex-wrapper {
  display: flex;
  gap: 40px;
  align-items: center;
}

.input {
  display: block;
  margin-bottom: 20px;
}

.reset-btn {
  margin-left: 20px;
}

.delete-btn {
  position: absolute;
  right: 20px;
  bottom: 20px
}

.header {
  height: 200px;
  background: teal;
  padding: 0;
  margin: 0;
}